@import "tailwindcss";
@import "@fontsource-variable/cairo";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
 
--color-primary-900: #1f4f96;
--color-primary-800: #0b57d0;
--color-primary-700: #1877f2;
--color-primary-600: #166fe5;
--color-primary-500: #1f6fe5;
--color-primary-200: #eef6ff;
--color-primary-100: #e7f3ff;
--color-primary-50: #f6faff;



--color-graay-50: #90a1b9;
--color-graay-100: #fafbff;
  --color-graay-200: #f8fafc;
  --color-graay-300: #f1f4f9;
  --color-graay-400: #f1f5f9;
  --color-graay-500: #62748e;
  --color-graay-600: #314158;
  --color-graay-700: #f0f2f5;
  --color-graay-800: #45556c;
  --color-graay-900: #F7F8FA;

  --font-main: "Cairo Variable", sans-serif;
}

@layer base {
  body {
    @apply font-main bg-graay-300;
  }
}
